
header {
  background-color: #3333336e;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navegacion{
  border: 1px solid red;
}
.navegacion ul{
  display: flex;
  gap: 5rem;
  font-size: 1.4rem ;
  font-weight: bold;
  justify-content: space-around;
  text-decoration: none;
  list-style: none;

}

