<main class="cuerpo">
  <div class="cuerpo_busqueda">
    <h2>Top de libros</h2>
    <div class="input_busqueda">
        <input type="text" placeholder="Buscar libro">
        <button>Buscar</button>
    </div>
  </div>
  <div  class="libros_portada" >
    @for (libro of libros ;track libros){
      <div class="portada">
        <div>
          <img [src]="libro.volumeInfo.imageLinks.thumbnail" alt="Portada del libro" class="img">
        </div>
        <div class="info">
          <p>Titulo:{{ libro.volumeInfo.title }}</p>
          <!-- <p>Titulo:{{ libro.volumeInfo.title }}</p> -->
          <!-- <p>Autor: {{ libro.volumeInfo.authors }}</p> -->
        </div>
      </div> 
    }
  </div>   
</main>
<app-footer></app-footer>